<header>
    <h1>Header</h1>
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/about">About</a></li>
        <li>Node JS</li>
    </ul>
</header>